<form action="/api/data" method="GET">

  <select name="country">
    {{#each countries}}
      <option value="{{this.CountryName}}">{{this.CountryName}}</option>
    {{/each}}
  </select>
  <select name="year">
    {{#each years}}
      <option value="{{this.Year}}">{{this.Year}}</option>
    {{/each}}
  </select>
  <select name="indicator">
    {{#each indicators}}
      <option value="{{this.SeriesName}}">{{this.SeriesName}}</option>
    {{/each}}
  </select>
  <button type="submit">Submit</button>
</form>

<div id="result"></div>



<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"
></script>

<script src="/main.js"></script>